<html>
<head>
    <title>{{site_title}}</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.6.2.min.js')}}"></script>
</head>
<body style="padding-top: 20px; padding-left: 20px;">
    <div id="content">
        <h1>{{site_title}}</h1>
        <form method="POST">
            <input id="domain" name="domain" placeholder="{{domain}}" style="padding: 5px; margin-top: 5px; margin-bottom: 5px;" value="{{domain}}" autofocus><BR>
            <input type="submit" name="submit" value="Lookup &gt;&gt;&gt;" onclick="$('#loading').show();">
            <div id="loading" style="display:none;"><img height="100px" width="100px" src="{{url_for('static', filename='spinner.gif')}}"></div>
        </form>
        {{page_body|safe}}
        <BR>
    </div>
</body>
</html>
